body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: #fff;
  font-size: 20px;
}

header {
  background-color: #363636;
  color: #fff;
  padding: 50px;
  text-align: center;
}

h1, h2 {
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #1C1C1C;
  box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
  color: #fff;
  font-size: 20px;
}

.projeto {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.projeto h3 {
  margin-top: 0;
}

.projeto p {
  margin-bottom: 10px;
}

footer {
  background-color: #363636;
  color: #fff; 
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
#sobre img {
  grid-column: 1; /* Optional */
  border-radius: 30%;
}

#sobre {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  min-height: 0px;
  color: #fff;
  font-size: 20px;
}

#sobre p {
  margin-top: 80px; /* Adjust as needed */
  margin-left: 40px;
  font-size: 20px;
}


@media (max-width: 768px) {
  #sobre img {
    position: static;
    transform: none;
    float: right;
    margin-top: 10px;
    width: 50%;
  }
}
